*~
*.elc
site-lisp/
elpa/
ede-projects.el
private-ede-projects.el
private-prodigy-service.el
.DS_Store
\#*\#
TAGS
GPATH
GRTAGS
GTAGS
*customzation*
bookmarks
.bm-repository
*emacs.desktop*
projectile-bookmarks.eld
projectile.cache
UnicodeData.txt
unicode_template.txt
ebx-history
diary
ni.wav
amx-items
docsetutil
elfeed.org
recentf

.cache/
cache/
.emms/
emms/
games/
image-dired/
url/
auto-install/
notes/
thumbs/
auto-save-list/
anything-c-adaptive-history
history
tramp
emms-tracks-no-lyrics
tutorial
server

.org-id-locations
org-journal.cache
.diary.cyclic-tasks
.session
.wmncach.el
.trello/
ac-comphist.dat
ac-dict/

packages/emacs-w3m/
packages/emms/
packages/addressbook/
packages/anything-config/
packages/babel/
packages/bbdb/
packages/bbdb-extensions/
packages/company/
packages/dictem*/
packages/ecb/
packages/eim/
packages/emacs-goodies-el/
packages/Emacs-PDE-0.2.16/
packages/emacs-tiny-tools/
packages/generic-apt/
packages/git-emacs/
packages/gitsum/
packages/haskell-mode/
packages/html-helper-mode_3.0.4kilo/
packages/magit/
packages/mldonkey-el-0.0.4b/
packages/nxhtml/
packages/paredit/
packages/predictive/
packages/yasnippet/
packages/markdown-mode/
packages/traverselisp/
packages/android-mode/
packages/redshank/
packages/bookmark-extension/
packages/auto-complete/
packages/cedet/
el-get/
share/
packages/lunar-mode-line/
cnfonts/
anaconda-mode/
workgroups2
test/
haskell-emacs-exts/
/.mc-lists.el
/geiser-history.racket
/orgcard.txt
/custom.el
/.erc-pass
/org-clock-save.el
flycheck_*.el
network-security.data
vimish-fold/
request/
.lsp-session-v*
transient/